        body { 
          background: #f2f2e9 none; padding: 0px 0 0 0; font-family:Arial,"微软雅黑","宋体","黑体"; font-size: 12px;
        } 

        /*头部*/
        .navbar-inner { 
          border-width: 0 0 1px;
          border-color: #FFF #FFF #FFAEB9; 
          background: #fffff5 none;
          height: 100px;
        }

        #head { 
          max-width: 900px;
          text-align:center; 
          margin: 0 auto; image
        }

        .headleft{ float: left; }

        #logo, #login, .sinaweibo, .tencweibo {
          background-image: url(../img/icon.png); 
          background-repeat: no-repeat;
        }

        #logo {
          background-position: -19px -20px;
          width: 204px; height: 69px;
          margin: 12px 0 0 0;
        }

        #login {
          background-position: -54px -103px;
          width: 42px; height: 43px;
          margin: 30px 0 0 0;
          cursor: pointer;
        }
        #login:hover {
          background-position: -105px -103px;
        }

        .headright > .dropdown-menu {
          border: 2px solid rgba(255, 120, 138, 0.3);
          width: 150px;
        }
        .headright > .dropdown-menu > li {
          padding: 5px 0 5px 0;
        }

        .sinaweibo, .tencweibo {
          float: left; padding: 0 8px 0 0;
          width: 26px; height: 22px;
        }
        .sinaweibo {
          background-position: -160px -214px;
        }
        .tencweibo {
          background-position: -210px -217px;
        }


        .thumbnails {
          max-width: 522px;
          margin: auto;
          background-color: #fff;
          -webkit-border-radius: 5px;
             -moz-border-radius: 5px;
                  border-radius: 5px;
          -webkit-box-shadow: 0 1px 2px class="pull-right" rgba(0,0,0,.05);
             -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                  box-shadow: 0 1px 2px rgba(0,0,0,.05);
        }

        .thumbnail { max-width: 512px; } 
        .imgshow { max-width: 512px; position: relative; }
        .thumbnails > li { margin: 0; }

        .ilike-m {
            background-image: url("/static/img/like-btn.png");
            background-repeat: no-repeat;
            background-position: 0 -45px;
            cursor: pointer;
            border-radius: 3px 3px 3px 3px;
            box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.6);
            color: #FFFFFF;
            height: 36px;
            line-height: 36px;
            margin: -18px 0 0 -60px;
            outline: medium none;
            padding: 0 15px 0 40px;
            position: absolute;
            text-align: left;
            width: 65px; height: auto;
            float: right;
            bottom:20px; right: 20px;
            overflow: hidden;
        }

        .media-object { width: 32px; height: 32px; }
        .media-heading { color: #999; font-weight: normal; font-style: italic; margin: -2px 0 -2px; }
        .media-heading + p { color:#666; line-autoheight: 150%}
        .line { border-top:1px solid #eee; margin-top: 20px; }
        .blank { padding-top: 15px; }

        div[name="spanBolder"] { font-weight: bolder; }

        .caption > span > img { width:24px; height:24px; }
        .caption > span + span { font-size:14px; font-weight: bolder; padding-left: 5px;}
        .caption > span + span + span { color:gray; font-size:9px; font-family: Verdana; font-style: italic;}
        .caption > span + p { padding-top: 10px; color: #000; }

        .bds_tsina {  background-image: url(/static/img/is.png); background-repeat: no-repeat; background-position: 0 -115px; cursor: pointer; }
        .bds_tqq {  background-image: url(/static/img/is.png); background-repeat: no-repeat; background-position: 0 -235px; cursor: pointer;  }
        .bds_tqzone {  background-image: url(/static/img/is.png); background-repeat: no-repeat; background-position: 0 -75px; cursor: pointer;  }
        .bds_trenren {  background-image: url(/static/img/is.png); background-repeat: no-repeat; background-position: 0 -195px; cursor: pointer;  }

        .btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover { font-size: 12px; padding-left: 10px; }
        .dropdown-menu { min-width: 100px; }

        .digg, .undigg {position:absolute; z-index:999; display:block; width:200px; height:200px; font-size:16px; font-weight:bold;}
        .digg table, .undigg table {width:100%; height:100%;}
        .digg td, .undigg td {width:100%; height:100%; text-align:center; vertical-align:middle;}
        .digg {color:#f60;}
        .undigg {color:#666;}

        .comment_login { text-align:center; padding:10px 0 10px 0; background:#eee; }
        .comment_input { padding:5px 0 5px 0; }
        .comment_input > span > textarea { width:80%; height: 30px; }
        .comment_input > span > button { height: 40px; }
        .commentTime {padding-left: 10px}

        #loading { text-align: center; padding: 0 0 20px 0;}
        .alert { max-width: 470px; margin: auto; display: none;}

        @media screen and (max-width: 767px) {
          .comment_input > span > textarea { width: 70%; }
        }