
        /*广告*/
        #ad { 
          width: 100%;
          text-align: center;
          margin: 0 auto;
          background: #fffff5 none;
        }

        #default_ad { 
          max-width: 900px; 
          margin: 0 auto; 
        }

        #default_ad > .headleft {
          padding: 85px 80px 90px 20px;
        }
        #default_ad > .headright {
          text-align: left;
          padding: 140px 50px 0 0;
          color: #545454;
        }
        #default_ad > .headright > h1 {
          font-size: 30px;
        }
        #default_ad > .headright > h5 {
          font-size: 16px;
          color: #9e9e9c;
          font-style: normal;
          padding: 10px 0 0 0;
        }

        #ad > .arrow {
          width: 23px; height: 14px;
          background-position: -115px -210px;
          margin: 0 auto;
          padding: 0 0 6px 0;
          cursor: pointer;
        }
        #ad > .arrow:hover {
          background-position: -115px -231px;
        }


        
   
