#my-nav, #err-info {
          max-width: 522px;
          margin: auto;
          position: relative;
}

.my-products, .my-likes {
	max-width: 252px;
	width: 100%;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background: #FFF;
	margin: 30px 0 20px 0;
	text-align: center;
	padding: 15px 0 15px 0;
	font-size: 16px;
	font-weight: bolder;
	cursor: pointer;
}

.my-products:hover, .my-likes:hover {
	background: #f0efec;
}


.my-products {
	float: left;
	color: #00c49f;
}
.my-likes {
	float: right;
	color: #ffc107;
}

.icon-mypro, .icon-mylike {
	width: 33px; height: 33px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px 0 0;
}
.icon-mypro {
	background-position: -108px -308px;
}
.icon-mylike {
	background-position: -159px -308px;
}

.mypro-arrow, .mylike-arrow {
	width: 14px; height: 7px;
	background-position: -36px -215px;
	position: absolute;
	bottom: 14px; 
}
.mypro-arrow {
	left: 140px;
}
.mylike-arrow {
	float: right;
	right: 140px;
}

.nopro, .err404 {
	max-width: 325px; height: 327px;
    margin: 10px auto;
    background-image: url(../img/alert.png); 
    background-repeat: no-repeat;
}

.nopro {
	background-position: 0 0;
}

.err404 {
	max-width: 382px;
	background-position: 397 0;
}

.return-url {
	margin: auto;
	text-align: center;
	font-size: 14px;
	padding: 0 0 20px 0;
}

.deleted-info {
	width: 180px; height: 20px;
	padding: 20px;
	background-color: rgba(0,0,0,0.5);
	color: #FFF;
	font-size: 16px; font-weight: bold;
	text-align: center;
	position: fixed; z-index: 999;
	left: 200px; top: 200px;
	display: none;
	 -webkit-border-radius: 5px;
             -moz-border-radius: 5px;
                  border-radius: 5px;
          -webkit-box-shadow: 0 3px 7px class="pull-right" rgba(0,0,0,.4);
             -moz-box-shadow: 0 3px 7px rgba(0,0,0,.4);
                  box-shadow: 0 3px 7px rgba(0,0,0,.4);
}